[Desktop Entry]
Type=Application
Name=WiFiperson
Comment=Scan nearby Wi-Fi networks and visualize channel usage
Exec=wifiperson
Icon=wifiperson
Categories=Network;Utility;
Terminal=false
